<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <h1>{{ message }}</h1>
            <div>
                Food:
                <ul>
                    <li v-for="food in foods">{{ food }}</li>
                </ul>
                Cloth:
                <ul>
                    <li v-for="(cloth, index) in clothes" :key="index">{{ cloth }}</li>
                </ul>
                Other:
                <ul>
                    <li v-for="other in others" :key="other.id">
                        <span>{{ other.name }}</span>買<span>{{ other.num}}</span>個
                    </li>
                </ul>
            </div>
        </div>

        <!-- import App -->
        <script src="./main.js"></script>

        <!-- mount App -->
        <script>
            const mountedApp = app.mount('#app');
        </script>

    </body>
</html>